<%= form_for @profile, url: profile_edit_path, smethod: :put  do |form| %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    Change password (leave empty to keep the same)<br>
    <%= form.password_field :password, placeholder: 'Password'%>
    <%= form.password_field :password_confirmation, placeholder: 'Confirm Password'%>
  </div>

  <div class="field">
  <%= case @profile.usertype
    when 1 
      'Hunter'
    when 2
      'Seeker'
    when 0
       'Admin'
    end  
  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
