<!DOCTYPE html>
<html>
  <head>
    <title>User Profiles</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bgmain">
    
    <div class="container">

      <%= render 'shared/nav' %>

      <p id="notice"><%= notice %></p>

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <%= yield %>
        </div> 
        <div class="col-md-2"></div>
      </div>

    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
